#bootstrap-overrides .product h1 {
    display: block;
}

#bootstrap-overrides div.inline button,h3 {
    display: inline-block;
    margin-left: 20px;
    vertical-align: center;
}

#bootstrap-overrides div.row {
    display: flex;
    margin-top: 20px;
    margin-bottom: -40px;
}

#bootstrap-overrides div.row p {
    padding-right: 7px;
    font-size: 20px;
}

#bootstrap-overrides div.row p,img {
    flex: 1;
    display: inline-block;
    width: 50%;
    height: 50%;
    vertical-align: center;
}
